.Rproj.user
.Rhistory
.RData
.Ruserdata
0_EXEMPLES
Graph
Ctip.pptx
Analyse_DESeq2
Analyse_petit
Tab
Graph
Test.R
Analyse_DESeq2_101genes
Comparaison données.csv
Comparaison données.tab
Comparaison données_04-24.xlsx
Comparaison_données.R
Test_normalisation_Boxplot_Normalsation1.pdf
Visualisation des données.pptx
